log_format upstreamlog '$server_name to: $upstream_addr [$request]'
  'upstread_response_time $upstream_response_time '
  'msec #msec request_time $request_time';

upstream flaskapi {
{% for host in groups['tag_Ansible_Blue'] %}
        server {{ hostvars[host]['ansible_facts']['eth0']['ipv4']['address'] }}:5000;

{% endfor %}

    }

    server {
        listen 80;

        access_log /var/log/nginx/access.log upstreamlog;

        location / {
            proxy_pass http://flaskapi;
        }
         location /github-webhook {
                proxy_pass http://localhost:8080/github-webhook;
        }
    }